{% extends "base.html" %}



{% block content %}
    
    <div class="login-form">
        {% if form.errors %}
            <p>
                The username or password is incorrect.
                Try again. 
            </p>
        {% endif %}
        <h1 class='registration' >Log in</h1>
        <form action="{% url 'shop:login' %}" method="post">
            <div>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" class='login_input'>
            </div>
            <div>
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password" class='login_input' >
            </div>
            {% csrf_token %}
            {% comment %} <input type="hidden" name="next" value="{{ next }}" /> {% endcomment %}
            <div class='bar_login'>
                <a class='registration' href="{% url 'shop:password_change' %}">Forgot password</a>
                <button type='submit' class="button login_input button_registration" id='login_button'><p class='button_margin'>LOGIN</p></button>
             
          
            </div>

            
        </form>
          <div class="align_i_c display_f">
                <hr class="width_100">
                <p id='hr_or'>or</p>
                <hr class="width_100">
            </div>
              <button class="btn btn-primary mb-2">
            <a href="{% url 'social:begin' 'facebook' %}" class='button_white'>Login with Facebook</a>
        </button>
    </div >

    <div class="login-form">
        <p class='float_l'>Don't have an account?</p>
        <a class="registration float_l margin_l" href="{% url 'shop:register' %}">SIGN UP</a>
    </div>
{% endblock content %}