{% extends 'base.html' %}

{% load static %}

{% block title %}Password reset{% endblock title %}

{% block content %}
    <div class="login-form">
        <h3>Password reset</h1>
        <form action="." method='post'>
            {{ form.email }}
            {% csrf_token %}
            <hr>
            <div class='display_f justify_c_s_b margin_t_2'>
                <a class='registration' href="{% url 'shop:login' %}">BACK</a>
                <button type='submit' class='button button_registration'><p class='button_margin'>SEND EMAIL</p></button>
            </div>
        </form>
    </div>
    <script type='text/javascript' src='{% static 'assets/js/password_reset.js' %}'></script>
{% endblock content %}