{% extends 'base.html' %}

{% load static %}

{% block title %}Password reset{% endblock title %}

{% block content %}
    <div class="login-form">
        <h1>Password reset</h1>
        <form action="." method='post'>
            {{ form.as_p}}
            {% csrf_token %}
            <div class='text_a_r margin_t_2'>
                <button type='submit' class='button button_registration'><p class='button_margin'>SEND EMAIL</p></button>
            </div>
        </form>
    </div>
{% endblock content %}