{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <div class="login-form">
        <div class="text_a_c">
            <h3>{% trans "Reset password" %}</h3>
        </div>
        <hr>
        {%  if validlink %}
            <div class="text_a_c">
                <p>{% trans "Enter the new password twice" %}</p>
            </div>

            <form action="." method="post" autocomplete="off">
                {% csrf_token %}    
                {% if form.errors %}
                    <div class='color_red text_a_c'>{% trans "The two password fields didn’t match" %}</div>
                {% endif %}
                
                <div class='display_f justify_c_c margin_tb'>
               
                    <div>
                        <input type="password" name="new_password1" autocomplete="off" required="" id="id_new_password1" class='login_input form-control shadow-none register_input margin_tb' placeholder="password">
                    </div>
                    
                </div>
                <div class='display_f justify_c_c ma'>
         
                    <div>
                        <input type="password" name="new_password2" autocomplete="off" required="" id="id_new_password2" class='login_input form-control shadow-none register_input margin_tb' placeholder="password">
                    </div>
                    
                </div>
                <div class='text_a_c margin_t_4'>
                    <button class='button button_registration margin_l'><p class='button_margin'>{% trans "CHANGE" %}</p></button>
                </div>
                
            </form>
        {% else %}
            <p>{% trans "Link to reset password is incorrect because it has probably been used before. You must again to start the procedure password reset." %}</p>
        {% endif %}
    </div>
    <script type='text/javascript' src="{% static 'assets/js/password_reset_confirm.js' %}"></script>
{% endblock %}
