{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block content %}
<div class="login-form">
 
    <h1 class='registration' >{% trans "Sign up" %}</h1>
    <form action="." method='post' class='was-validated'>
        {% csrf_token %}
        <div class='form-floating margin_tb'>
            {{ user_form.username }}
            <label for="id_username">{{ user_form.username.label }}</label>
            <div class='color_red font_numbers_light'>{{ user_form.username.errors }}</div>
        </div>
        <div class='form-floating margin_tb'>
            {{ user_form.email }}
            <label for="id_email">{{ user_form.email.label }}</label>
            <div class="invalid-feedback">
                {% trans "Please enter a valid email" %}
              </div>
        </div>
        <div class='form-floating margin_tb'>
            <input type="password" class="register_input form-control shadow-none" id="password1" placeholder="Password" name='password' minlength='6' required>
            <label for="password1">{% trans "Password" %}</label>
            <div class="invalid-feedback">
                {% trans "Passwords must be the same" %}
              </div>
        </div>
        <div class='form-floating margin_tb'>
            <input type="password" class="register_input form-control shadow-none" id="password2" placeholder="Confirm Password" required>
            <label for="password2">{% trans "Confirm Password" %}</label>
            <div class="invalid-feedback">
                {% trans "Passwords must be the same" %}
              </div>
            
        </div>
        <div class='form-floating margin_tb'>
            <div class="display_f justify_c_s_b ">
                {{ user_form.number }}
            </div>
            <div class='color_red font_numbers_light'>{{ user_form.number.errors }}</div>
        </div>
        
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
            <label class="form-check-label font_numbers_light" for="flexCheckDefault">
                {% trans "I declare that I know and accept the provisions of the Regulations Sklep_2." %}
            </label>
         
        </div>
        <div class='bar_login margin_t_2'>
                <a class='registration' href="{% url 'shop:login' %}">{% trans "Already have an account" %}?</a>
                <button type='submit' class="button login_input button_registration" id='login_button'><p class='button_margin'>{% trans "SIGN UP" %}</p></button>
            </div>
    </form>
</div>
<script type='text/javascript' src='{% static 'assets/js/register.js' %}'></script>
{% endblock %}
