{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
    <div class="basic ">
        <div id='account_background_form'></div>
        <div id='account_div_form'>
            <h3 class='font_numbers_light'>{% trans "Change" %}</h3>
            <div id='account_div_form_address'>
                <form action="{% url 'shop:account_data' type='address' %}" method='post'>
                    {% csrf_token %}
                    <div class="form-floating mb-3 display_n" id='street'>
                        {{ address_form.street }}
                        <label for="id_street">{{ address_form.street.label }}</label>
                    </div>
                    <div class="form-floating mb-3 display_n" id='street_number'>
                        {{ address_form.street_number }}
                        <label for="id_street_number">{{ address_form.street_number.label }}</label>
                    </div>
                    <div class="form-floating mb-3 display_n" id='town'>
                        {{ address_form.town }}
                        <label for="id_town">{{ address_form.town.label }}</label>
                    </div>
                    <div class="form-floating mb-3 display_n" id='ZIP_code'>
                        {{ address_form.ZIP_code }}
                        <label for="id_ZIP_code">{{ address_form.ZIP_code.label }}</label>
                    </div>
                    <div class="form-floating mb-3 display_n" id='country'>
                        {{ address_form.country }}
                        <label for="id_country">{{ address_form.country.label }}</label>
                    </div>
                    <div class='display_f align_i_c float_r margin_t'>
                        <button type='button' class='button_n' onclick='cancel("address")'><p class='color_green margin_0'>{% trans "CANCEL" %}</p></button>
                        <button type='submit' class='button margin_l' ><p class='button_margin'>{% trans "SUBMIT" %}</p></button>
                    </div>
                    
                </form>
            </div>
            <div id='account_div_form_personal_data'>
                <form action="{% url 'shop:account_data' type='personal_data' %}" method='post'>
                    {% csrf_token %}
                    <div class="form-floating mb-3 display_n" id='first_name'>
                        {{ personal_form.first_name }}
                        <label for="id_first_name">{{ personal_form.first_name.label }}</label>
                    </div>
                    <div class="form-floating mb-3 display_n" id='last_name'>
                        {{ personal_form.last_name }}
                        <label for="id_last_name">{{ personal_form.last_name.label }}</label>
                    </div>
                    <div class="form-floating mb-3 display_n" id='email'>
                        {{ personal_form.email }}
                        <label for="id_email">{{ personal_form.email.label }}</label>
                    </div>
                    <div class="form-floating display_f justify_c_s_b display_n" id='phone_number'>
                        {{ personal_form.number }}
                        <label for="id_phone_number_1">{{ personal_form.number.label }}</label>
                    </div>
                    <div class='display_f align_i_c float_r margin_t'>
                        <button type='button' class='button_n' onclick="cancel('personal_data')"><p class='color_green margin_0'>{% trans "CANCEL" %}</p></button>
                        <button type='submit' class='button margin_l' ><p class='button_margin'>{% trans "SUBMIT" %}</p></button>
                    </div>
                </form>
            </div>
            
        </div> 
        <div id='address_and_bills'>
            <div class='account_address white padding margin_t'>          
                <div class="display_f justify_c_s_b">
                    <h4 class='font_numbers_light display_f align_i_c margin_0'>{% trans "Your address" %}</h1>
                    <button class='color_green button_n font_size_15' onclick="account_form('address', 'all')">{% trans "CHANGE" %}</button>
                </div>                   
                <div class='display_f width_100 flex_w_w'>
      
                    <div class='personal_data width_320p margin_t_2'>
                        <div>
                            <p class='font_numbers font_size_15 color_gray margin_0'>{% trans "Street" %}:</p>   
                            <p class='font_numbers_light margin_0 font_size_12'>{{ address_form.street.initial }}</p>
                            <button class='color_green button_n padding_0' onclick="account_form('address', 'street')">{% trans "CHANGE" %}</button>
                        </div>
                    </div>
                    <div class='personal_data width_320p margin_t_2'>
                        <div>
                            <p class='font_numbers font_size_15 color_gray margin_0'>{% trans "Street Number" %}:</p>   
                            <p class='font_numbers_light margin_0 font_size_12'>{{ address_form.street_number.initial }}</p>
                            <button class='color_green button_n padding_0' onclick="account_form('address','street_number')">{% trans "CHANGE" %}</button>
                        </div>
                    </div>
                    <div class='personal_data width_320p margin_t_2'>
                        <div>
                            <p class='font_numbers font_size_15 color_gray margin_0'>{% trans "Town" %}:</p>   
                            <p class='font_numbers_light margin_0 font_size_12'>{{ address_form.town.initial }}</p>
                            <button class='color_green button_n padding_0' onclick="account_form('address','town')">{% trans "CHANGE" %}</button>
                        </div>
                    </div>
                    <div class='personal_data width_320p margin_t_2'>
                        <div>
                            <p class='font_numbers font_size_15 color_gray margin_0'>{% trans "ZIP Code" %}:</p>   
                            <p class='font_numbers_light margin_0 font_size_12'>{{ address_form.ZIP_code.initial }}</p>
                            <button class='color_green button_n padding_0' onclick="account_form('address','ZIP_code')">{% trans "CHANGE" %}</button>
                        </div>
                    </div>
                    <div class='personal_data width_320p margin_t_2'>
                        <div>
                            <p class='font_numbers font_size_15 color_gray margin_0'>{% trans "Country" %}:</p>   
                            <p class='font_numbers_light margin_0 font_size_12'>{{ address_form.country.initial }}</p>
                            <button class='color_green button_n padding_0' onclick="account_form('address','country')">{% trans "CHANGE" %}</button>
                        </div>
                    </div>
               
            </div>
            </div>
            <div class='account_bills white padding margin_t'>         
                <h4 class='font_numbers_light'>{% trans "Bills" %}</h1>      
                <div class='overflow_a'>
                    {% for order in orders %}
                        <div class='margin_t'><a href={% url 'order:admin_order_pdf' order.id %}><p class='font_numbers_light'>{{ order.created }}</p></a></div>
                    {% endfor %}
                    
                </div>      
            </div>
        </div>
        <div class='white margin_t padding'>
            <div class='width_320p display_f justify_c_s_b align_i_c'>
                <h4 class='font_numbers_light margin_0'>{% trans "Personal data" %}</h1>
                <button class='font_size_15 color_green button_n padding_0' onclick="account_form('personal_data', 'all')">{% trans "CHANGE" %}</button>
            </div>
            
            <div class='display_f width_100 flex_w_w'>
                    <div class='personal_data width_320p'>
                        <div>
                            <p class='font_numbers font_size_12 color_gray margin_0'>{% trans "First Name" %}:</p>   
                            <p class='font_numbers_light margin_0'>{{ user.first_name }}</p>
                            <button class='color_green button_n padding_0' onclick="account_form('personal_data', 'first_name')">{% trans "CHANGE" %}</button>
                        </div>
                    </div>
                    <div class='personal_data width_320p'>
                        <div>
                            <p class='font_numbers font_size_12 color_gray margin_0'>{% trans "Last Name" %}:</p>   
                            <p class='font_numbers_light margin_0'>{{ user.last_name }}</p>
                            <button class='color_green button_n padding_0' onclick="account_form('personal_data', 'last_name')">{% trans "CHANGE" %}</button>
                        </div>
                    </div>
                    <div class='personal_data width_320p'>
                        <div>
                            <p class='font_numbers font_size_12 color_gray margin_0'>{% trans "Email" %}:</p>   
                            <p class='font_numbers_light margin_0'>{{ user.email }}</p>
                            <button class='color_green button_n padding_0' onclick="account_form('personal_data', 'email')">{% trans "CHANGE" %}</button>
                        </div>
                    </div>
                    <div class='personal_data width_320p'>
                        <div>
                            <p class='font_numbers font_size_12 color_gray margin_0'>{% trans "Phone Number" %}:</p>   
                            <p class='font_numbers_light margin_0'>{{ user.number }}</p>
                            <button class='color_green button_n padding_0' onclick="account_form('personal_data', 'phone_number')">{% trans "CHANGE" %}</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='{% static 'assets/js/account.js' %}'></script>
{% endblock content %}