{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
    <div class="basic ">
        <div id='account_background_form'></div>
        <div id='account_div_form'>
            <h3 class='font_numbers_light'>{% trans "Change" %}</h3>
            <div id='account_div_form_address'>
                <form action="{% url 'shop:account_data' type='address' %}" method='post'>
                    {% csrf_token %}
                    <div id='account_form_address'>
                    </div>
                    <div class='display_f align_i_c float_r margin_t'>
                        <button type='button' class='button_n' onclick='cancel()'><p class='color_green margin_0'>{% trans "CANCEL" %}</p></button>
                        <button type='submit' class='button margin_l' ><p class='button_margin'>{% trans "SUBMIT" %}</p></button>
                    </div>
                    
                </form>
            </div>
            <div id='account_div_form_personal_data'>
                <form action="{% url 'shop:account_data' type='personal_data' %}" method='post'>
                    {% csrf_token %}
                    <div id='account_form_personal_data'>
                    </div>
                    <div class='display_f align_i_c float_r margin_t'>
                        <button type='button' class='button_n' onclick='cancel()'><p class='color_green margin_0'>{% trans "CANCEL" %}</p></button>
                        <button type='submit' class='button margin_l' ><p class='button_margin'>{% trans "SUBMIT" %}</p></button>
                    </div>
                    
                </form>
            </div>
            
        </div> 
        <div id='address_and_bills'>
            <div class='account_address white padding margin_t'>          
                <div class="display_f justify_c_s_b">
                    <h4 class='font_numbers_light display_f align_i_c margin_0'>{% trans "Your address" %}</h1>
                    <button class='color_green button_n font_size_15' onclick="account_form('{{ address_json }}','address')">CHANGE</button>
                </div>                   
                <div class='display_f width_100 flex_w_w'>
                {% for key, value in address.items %}
                    <div class='personal_data width_320p margin_t_2'>
                        <div>
                            <p class='font_numbers font_size_15 color_gray margin_0'>{{ value.field }}:</p>   
                            <p class='font_numbers_light margin_0 font_size_12'>{{ value.value }}</p>
                            <button class='color_green button_n padding_0' onclick="account_form('{{ address_json }}','address','{{ key }}')">CHANGE</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
            <div class='account_bills white padding margin_t'>         
                <h4 class='font_numbers_light'>{% trans "Bills" %}</h1>      
                <div class='overflow_a'>
                    {% for order in orders %}
                        <div class='margin_t'><a href={% url 'order:admin_order_pdf' order.id %}><p class='font_numbers_light'>{{ order.created }}</p></a></div>
                    {% endfor %}
                    
                </div>      
            </div>
        </div>
        <div class='white margin_t padding'>
            <div class='width_320p display_f justify_c_s_b align_i_c'>
                <h4 class='font_numbers_light margin_0'>{% trans "Personal data" %}</h1>
                <button class='font_size_15 color_green button_n padding_0' onclick="account_form('{{ personal_data_json }}','personal_data')">CHANGE</button>
            </div>
            
            <div class='display_f width_100 flex_w_w'>
                {% for key, value in personal_data.items %}
                    <div class='personal_data width_320p'>
                        <div>
                            <p class='font_numbers font_size_12 color_gray margin_0'>{{ value.field }}:</p>   
                            <p class='font_numbers_light margin_0'>{{ value.value }}</p>
                            <button class='color_green button_n padding_0' onclick="account_form('{{ personal_data_json }}','personal_data', '{{ key }}')">CHANGE</button>
                        </div>
                    </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
    <script type='text/javascript' src='{% static 'assets/js/account.js' %}'></script>
{% endblock content %}