{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
    <div id="detail" class="basic white margin_t padding">
        <div class='padding_lr'>
            <table class='box_s_b'>
                <thead>
                    <tr class='table_header_row'>
                        <th class='color_white'>ranking</th>
                        <th class='color_white'>name</th>
                        <th class='color_white'>number of copies sold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k, v in ranking.items %}
                     <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ k }}</td>  
                        <td>{{ v }}</td>
                     </tr>
                        
                        <!-- <div class='margin_t display_f justify_c_s_b align_i_c height_80p'></div>
                    </div> -->
                {% endfor %}
                </tbody>
            </table>
                
           
        </div>
    </div>
{% endblock %}