{% extends 'base.html' %}

{% load static %}
{% load price_tags %}

{% block content %}
    <div class='basic margin_t' id='list'>
        <div id='list_filter' class='white padding'>
            <strong><p class='font_size_15 '>Filters</p></strong>
            <strong><p class='font_size_12'>Prices</p></strong>

            <ul>
                <li class='html_list font_size_12 paddding_b'>
                    <a href="?filter=20"><input id='price_range_1' type="radio" name=""></a>
                    <label for="price_range_1">less than 20</label>
                </li>
                <li class='html_list font_size_12 paddding_b'>
                    <a href="?filter=50"><input id='price_range_2' type="radio" name=""></a>
                    <label for="price_range_2">20 to 50</label>
                </li>
                <li class='html_list font_size_12 paddding_b'>
                    <a href="?filter=75"><input id='price_range_3' type="radio" name=""></a>
                    <label for="price_range_3">50 to 75</label>
                </li>
                <li class='html_list font_size_12 paddding_b'>
                    <a href="?filter=150"><input id='price_range_4' type="radio" name=""></a>
                    <label for="price_range_4">75-150</label>
                </li>
                <li class='html_list font_size_12 paddding_b'>
                    <a href="?filter=0"><input id='price_range_5' type="radio" name=""></a>
                    <label for="price_range_5">greater then 150</label>
                </li>
            </ul> 
     
            <form action="" method='get' id='list_form_price'>
                {% csrf_token %}
                <span class='display_f align_i_c' >
                    <input type="text" class='width_40 text_a_c padding_tb_05' placeholder='from' name='from'>
                    <p class='margin_lr_05 '>-</p>
                    <input type="text" class='width_40 text_a_c padding_tb_05' placeholder='to' name='to'>
                    <button type='submit' style='display:none'></button>
                </span>
            </form>
        </div>

        <div id='list_articles' class='white'>
            {% for product in products %}
                <a href="{{ product.get_absolute_url }}" class='list_object'>
                    <article class='padding display_f height_250p list_object' >
                        <div class='width_200p'>
                            <img src="{{ product.image.url }}" class='list_image_size'>
                        </div>
                        
                        <div class='padding_lr_4'>
                            <h4>{{ product.name }}</h4>
                            <span class='font_size_2 font_numbers'>{{ product.price|price_front }}</span><span class='font_size_15 font_numbers' >{{ product.price|price_back }}</span>
                        </div>
                        
                    </article>
                </a>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'assets/js/list.js' %}"></script>
{% endblock content %}
