{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load price_tags %}

{% block content %}
    <div class='main' id='cart'>
        <div class='width_65'>
            {% for item in cart %}
                <div class='display_f justify_c_c background_w padding_tb margin_tb_05 height_150p' id='cart_item'>
                    <div class='width_150p display_f align_i_c'>
                        <div>
                            <img class='height_100p width_max_150' src="{{ item.image }}" >
                        </div>
                    </div>  
                    <div class='display_f justify_c_s_b width_cart height_80p padding_t_15' >
                        <div class=' width_200p  padding_l '>
                            <p  class='font_size_12 word_b_b_w'>{{ item.name }}</p>
                        </div>
                        <div>
                            <form action="{% url 'cart:add' item.id %}" method='get' class='text_a_c'>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button type='submit' class="btn  btn-sm border_1sg border_r_0" onclick='minus({{ item.id }})'><i class="fa fa-minus"></i></button>
                                    </div>
                                    <input   class="input{{ item.id }} form-control-sm border_1sg width_4 border_1sg border_r_0 text_a_c font_numbers" value="{{ item.quantity }}" min="1" name='quantity'>
                                    <div class="input-group-prepend">
                                        <button type='submit' class="btn  btn-sm border_1sg border_r_0"  onclick='plus({{ item.id }})'><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <input type="hidden" value='cart' name='cart'>
                                {% comment %} <button class="btn btn-secondary btn-sm" type='submit'>{% trans "change" %}</button> {% endcomment %}
                            </form>
                        </div>
                        <div>
                            <div class='width_100 text_a_c display_ib'>
                                <span class='font_size_2 font_numbers'>{{ item.total_price|price_front }}</span><span class='font_size_15 font_numbers' >{{ item.total_price|price_back }}</span>
                            </div>
                            <div class='width_200p text_a_c'>
                                <span class='font_size_12 font_numbers_light'>{% trans "for each" %} {{ item.price }}</span>
                            </div>
                        </div>
                        <div>
                            <a href="{% url 'cart:remove_item' item.id %}">
                                <div class='display_f align_i_c'>
                                    <i class="far fa-trash-alt font_size_2"></i>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                </div> 


                <div id='cart_media'>
                    <div class='width_150p height_100 flex_d_c justify_c_s_a'>
                        <div class='text_a_c'>
                            <img class='height_80p width_max_150' src="{{ item.image }}" >
                        </div>
                        <div>
                            <form action="{% url 'cart:add' item.id %}" method='get' class='text_a_c'>
                                <div class="input-group mb-3 button_quantity_cart">
                                    <div class="input-group-prepend">
                                        <button type='submit' class="btn  btn-sm border_1sg border_r_0" onclick='minus({{ item.id }})'><i class="fa fa-minus"></i></button>
                                    </div>
                                    <input  class="input{{ item.id }} form-control-sm border_1sg width_4 border_1sg border_r_0 text_a_c font_numbers" value="{{ item.quantity }}" min="1" name='quantity'>
                                    <div class="input-group-prepend">
                                        <button type='submit' class="btn  btn-sm border_1sg border_r_0" onclick='plus({{ item.id }})' ><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <input type="hidden" value='cart' name='cart'>
                            </form>
                        </div>
                    </div> 
                    <div class='display_f flex_d_c justify_c_s_b height_100 width_cart'>
                        <div class='width_100 padding_l'>
                            <p  class='font_size_12 word_b_b_w'>{{ item.name }}</p>
                        </div>
                        <div class='flex_d_c'>
                            <div class='text_a_c display_ib float_r'>
                                <span class='font_size_2 font_numbers'>{{ item.total_price|price_front }}</span><span class='font_size_15 font_numbers' >{{ item.total_price|price_back }}</span>
                            </div>
                            <div id='for_each' class='text_a_c '>
                               <p class='font_numbers_light'>{% trans "for each" %}  {{ item.price }}</p>
                            </div>   
                        </div>
                    </div>                   
                </div>                
            {% endfor %}
            <div class='white padding_tb '>
                <div class='width_90 margin_0auto'>
                    <h4>{% trans "Discount" %}</h4>
                    <hr>
                    <form action='{% url 'coupon:coupon' %}' method='post' class='display_f'>
                        {% csrf_token %}
                        {{ coupon_form.code }}
                        <button type='submit' class='button margin_l' id='coupon_button'><p class='button_margin'>{% trans "add" %}</p></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="width_30 background_w margin_tb_05 min_h_300p">
            <div class='flex_d_c align_i_c top_25 position_r'>
                {% if cart.check_coupon %}
                    <div class='width_90'>
                        <div class='display_ib float_r cart_size_total_value'>
                            <span class='font_size_2 font_numbers color_gray'><del>{{ cart.total_value_cart|price_front }}</del></span><span class=' color_gray font_size_15 font_numbers'><del>{{ cart.total_value_cart|price_back }}</del></span>
                        </div>
                    </div>

                    <div class='width_90 padding_b_2'>
                        <div class='display_ib float_r cart_size_total_value'>
                            <span class='font_size_12 padding_r_05'>{% trans "TO PAY" %}</span>
                            <span class='font_size_2 font_numbers'>{{ cart.total_value_cart_after_discount|price_front }}</span><span class='font_size_15 font_numbers'>{{ cart.total_value_cart_after_discount|price_back }}</span>
                        </div>
                    </div>
                {% else %}
                    <div class='width_90 padding_b_2'>
                        <div class='display_ib float_r cart_size_total_value'>
                            <span class='font_size_12 padding_r_05'>{% trans "TO PAY" %}</span>
                            <span class='font_size_2 font_numbers'>{{ cart.total_value_cart|price_front }}</span><span class='font_size_15 font_numbers'>{{ cart.total_value_cart|price_back }}</span>
                        </div>
                    </div>
                {% endif %}
                <button type='submit' class='button width_90 margin_b'><a href="{% url 'order:order' %}"><p class='button_margin'>{% trans "PAYMENT" %}</p></a></button>
                <button class='button width_90 margin_b' ><p class='button_margin '>{% trans "CONTINUE" %}</p></button>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='{% static 'assets/js/cart.js' %}'></script>
{% endblock content %}