#detail{
    display: flex;
    flex-direction: row;
}
.detail_right_div{
    padding: 4rem 0 2rem 1rem;
}
#close_box_info_added_product:hover{
    background: rgb(92, 149, 235);
    border-radius: 50%;
}
.detail_image{max-width: 70%;max-height: 500px;}
@media (max-width: 813px) {
    #detail{flex-direction: column;}
    .detail_div{width: 100% !important;}
    .detail_image{max-height: 200px;}
}