#list{
    display: flex;
    flex-direction: row;}
#list_filter{width: 25%;}
#list_articles{
    width: 75%;
    margin-left: 1rem;
    padding: 1.5rem 1rem 1rem 3rem;}
#list_filter_button{display: none;}

.height_250p{max-height: 250px;}
.list_image_size{
    max-height: 200px;
    max-width: 200px;}
.list_object:hover{
    color: black;
    background-color: rgb(231, 231, 231);}
.nav_pagination{
    display: flex;
    justify-content: center;}
.width_image_list{
    width: 200px;
}
.font_list{
    font-size: 1.5rem;
    font-weight: 500;
}
@media (max-width: 813px) {
    #list_filter_button{display: inline-block;}
    #list_filter{
        width: 100%;
        display: none;}
    #list_articles{
        width: 100%;
        margin: 0;
        padding: 1.5rem 1rem 1rem 1rem;}
    #list{flex-direction: column;}

    .nav_pagination{justify-content: space-around;}
    .list_image_size{
        max-height: 100px;
        max-width: 100px;}
    .width_image_list{
        min-width: 100px;
        width: 100px;
        
    }
    .font_list{
        font-size: 1.2rem;
    }
}