a.orange:hover {color:#ff5a00;}

#main{
    position: fixed;
    background: white;
    width: 100vw;
    height: 100px; 
    left: 0;
    right: 0;
    z-index: 100;
}
#main_filling{height: 100px;}
#main_registration{
    background: white;
    width: 100vw;
    height: 80px;
    left: 0;
    right: 0;
}
.search_box{
    display: none;
    position: fixed;
    width: 30%;
    height: 400px;
    overflow-y: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    background:whitesmoke;
    z-index: 100;

}
.active_search{display: block;}
.logo {
    color:  #ff5a00;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}

.button{
    background-color: #ff5a00;
    border: none;
    padding: 5px 15px;
    text-align: center;
}
.button:hover{
    opacity: 80%;
}
.button_margin{
    margin: auto;
    color: white;
    letter-spacing: 2px;
}
#search_button:hover{opacity: 0.9;}
.main_flex{
    background: white;
    max-width: 1500px;
    height: 100%;
    position:relative;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#input_search{max-width: 250px;}
.main {max-width: 1500px;margin: 0 auto; height: 0;}
.main_icon{width: 100px;}
#main_icons{width: 80px;float: right;}
.width_icon{width: 30px;}
#shopping_cart_bar{

    width: 500px;
    height: 30vh;
    border: 1px solid gray;
    position: absolute;
    display: none;
    right: 0;
    z-index: 101;
    overflow-y: auto;
    
    /* display: none; */
}
.toggle_bar{
    height: 40vh;
    width: 300px;
    background: white;
    position: relative;
    margin-left: auto; 
    display: none;
    z-index: 100;
    overflow-x: auto;
    
}
.toggle_active{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.toggle_bar_button{text-align: center;}
.toggle_mode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    border-bottom: 5px solid white;
}
.toggle_border_mode{
    border-bottom: 5px solid rgb(255, 105, 18);
}
#hr_or{padding: 0 0.5rem;margin: 0;}
.grid_main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1rem;
    grid-template-rows: repeat(4, 200px);
}
#grid_under_main{display: grid;}
#grid_main_category{
    background: white;
    grid-column: 1;
    grid-row: 1/3;
}
#grid_main_advertisement {
    grid-column: 2;
    grid-row: 1/3;
    background: white;
}
#grid_main_products{
    grid-column: 2;
    grid-row: 3/5;
}
.grid_product_text{
    position:relative;
    width: 100%;
    word-wrap: break-word;
    top: 2rem;
}
#grid_main_old_advertisement{
    grid-column: 3;
    grid-row: 1/3;   
}
#grid_main_sale_promotion{
    grid-column: 1;
    grid-row: 3;
}
#grid_main_1{
    grid-column: 3;
    grid-row: 3/5;
}
.advertisement{width: 100%;height: 100%;}
.image_grid{
    width: 100%;
    height: 230px;
    border-radius: 40% 40% 0 0;
    } 
.main_size_image{
    position: relative;
    width: 20%;
}
.imgf{
    justify-content: space-around;
    padding: 10px 0;
    height: 100%;
}
.main_3_products{
    display: none;
}
.main_4_products{
    display: flex;
}
@media (min-width:814px) and (max-width:1300px){
    .grid_main{
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
        grid-template-rows: repeat(4, 200px);
    }
    #grid_main_old_advertisement{display: none;}
    #grid_main_sale_promotion{display: none;}
    .image_grid{
        height: 210px;
        } 
}
@media (max-width: 813px) {
    .main_3_products{
        display: flex;
    }
    .main_4_products{
        display: none;
    }
    #grid_main_advertisement{height: 300px; }
    #grid_main_products{display: block;margin-top: 1rem; height: 350px;}
    #grid_main_old_advertisement{display: none;}
    #grid_main_sale_promotion{margin-top: 1rem;}
    #grid_main_category{
        margin-top: 1rem;
    }
    #main{height: 100px;}
    .grid_product_text{
        font-size: small;
    }
    .image_grid{
        height: 140px;
        } 
    .search_box{
        top: 100px;
        width: 90%;
        height: 200px;
    }
    .logo{font-size: 20px;}    
    .grid_main{display:block;margin-top: 1rem;}
    
    .main_flex{
        height: 100px;
        display: grid;
        grid-template-columns: 2.5fr  1fr;
        grid-template-rows: 50px 50px;
    }
    #dlogo{
        grid-column: 1;
        grid-row: 1;
    }
    #search{
        grid-column: 1/3;
        grid-row: 2;
    }
    #main_icon{
        grid-column: 2;
        grid-row: 1;
    }
    .toggle_bar{
        width: 90%;
        margin: 0 auto;
    }
    
}