@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
.address_form{
    font-size: 1.2rem;
    font-family: 'Noto Serif', serif;
}
.order_div{
    width: 40%;
}
#column_order{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.order_input{
    width: 90%;
    margin: 1rem auto;
}
.margin_t_05_{margin-top: 0.5rem !important;}

.order_double_input{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 813px) {
    #column_order{
        display: block;
    }
    .order_div{
        margin-top: 2rem;
        width: 100%;
    }
    .address_form{
        font-size: 0.9rem;
        font-family: 'Noto Serif', serif;
    }
}