a.registration{
    color: #54cab6;
}
h1.registration {
    text-align: left;
}
.login-form {
    width: 30%;
    padding: 1rem 1rem 5rem 1rem;
    background: white;
    margin: 5% auto 0;
    
}
.login_input, .register_input, #id_password2, #id_password1{
    margin: 1rem 0;
    padding-left: 0.5rem;
    width: 100%;
    min-height: 3rem;
    font-size: 1.2rem;
    border-radius: 0%;
    border: 1px solid gray;

}
.register_input:focus{
    border: 2px solid gray;
}
.button_registration {
    width: 40%;
}
.bar_login{
    display: flex;
    justify-content: space-between;
}
.phone_number_register{
    min-height: 58px;
    border: 1px solid gray;
    border-radius: 0%;
    margin-bottom: 1rem;
}
.phone_number_register:focus{
    border: 2px solid gray;
}
@media (max-width: 813px) {
    .login-form{
        width: 100%;
    }
}