@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital@1&display=swap');

body {background: #ECEFF1;font-family: 'Raleway', sans-serif;}
a {text-decoration: none;color: rgb(0, 0, 0);}
a:hover{color: rgb(102, 160, 160);}

.align_i{align-items: center;}
.basic{max-width: 1500px; margin: 0 auto;}
.border_1sb{border: 1px solid black;}
.border_1sg{border: 1px solid gray;}
.border_r_0{border-radius: 0%;}
.border_r_50{border-radius: 50%;}
.color_gray{color:rgb(121, 121, 121)}
.color_white{color: rgb(255, 255, 255)}
.color_black{color: rgb(0, 0, 0);}
.display_f{display: flex;}
.display_ib{display: inline-block;}
/* .font_numbers{font-family: 'B612 Mono', monospace;} */
.font_numbers{font-family:  Roboto,sans-serif;}
.font_size_1{font-size: 1rem;}
.font_size_15{font-size: 1.5rem;}
.font_size_2{font-size: 2rem;}
.float_l{float: left;}
.float_r{float: right;}
.height_100{height: 100%;}
.padding_lr_4{padding: 0 4rem;}
.padding_l{padding-left: 1rem;}
.padding_lr{padding: 0 1rem}
.padding_ud_4{padding: 4rem;}
.padding{padding: 1rem;}
.position_i{position:inherit}
.position_r{position: relative;}
.margin_b{margin-bottom: 1rem;}
.margin_l{margin-left: 1rem;}
.margin_lr{margin: 0 1rem;}
.margin_r{margin-right: 1rem;}
.margin_t{margin-top: 1rem;}
.margin_t_2{margin-top: 2rem;}
.margin_0{margin: 0;}
.margin{margin: 1rem;}
.margin_0auto{margin: 0 auto;}
.text_a_c{text-align: center;}
.white{background: white;}
.width_4{width: 4rem;}
.width_40{width: 40%}
.width_50{width: 50%;}
.width_60{width: 60%}
.width_90{width: 90%;}
.width_100{width: 100%;}
.width_max_400{max-width: 400px;}

