@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');

body {background: #ECEFF1;font-family: 'Raleway', sans-serif;}
a {text-decoration: none;color: rgb(0, 0, 0);}
a.button_white{color: rgb(255, 255, 255)}
a.button_white:hover{color: rgb(255, 255, 255)}
a:hover{color: rgb(102, 160, 160);}

.align_i_c{align-items: center;}
._align_i_c{align-items: center; display: flex;}
.background_inherit{background: inherit;}
.background_g{background: #ECEFF1;}
.background_w{background: rgb(255, 255, 255)}
.basic{max-width: 1500px; margin: 0 auto;}
.border_1sb{border: 1px solid black;}
.border_1sg{border: 1px solid gray;}
.border_n{border: none;}
.border_r_0{border-radius: 0%;}
.border_r_50{border-radius: 50%;}
.bottom_0{bottom: 0;}
.clear_b{clear:both}
.color_gray{color:rgb(121, 121, 121)}
.color_white{color: rgb(255, 255, 255)}
.color_black{color: rgb(0, 0, 0);}
.color_green{color: rgb(102, 160, 160);}
.display_f{display: flex;}
.display_ib{display: inline-block;}
/* .font_numbers{font-family: 'B612 Mono', monospace;} */
.flex_d_c{display: flex; flex-direction: column;}
.flex_d_r{display: flex; flex-direction: row;}
.font_numbers{font-family:  Roboto,sans-serif;}
.font_decorative{font-family: 'Tourney', cursive;}
.font_size_1{font-size: 1rem;}
.font_size_12{font-size: 1.2rem;}
.font_size_15{font-size: 1.5rem;}
.font_size_2{font-size: 2rem;}
.float_l{float: left;}
.float_r{float: right;}
.justify_c_s_a{justify-content: space-around;}
.justify_c_s_b{justify-content: space-between;}
.justify_c_r{justify-content: right;}
.justify_c_c{justify-content: center;}
.height_100{height: 100%;}
.height_50p{height: 50px;}
.height_80p{height: 80px;}
.height_100p{height: 100px;}
.height_150p{height: 150px;}
.height_200p{height: 200px;}
.height_400p{height: 400px;}
.html_list{list-style-type: none;}
.padding{padding: 1rem;}
.padding_0{padding: 0;}
.paddding_b{padding-bottom: 1rem;}
.padding_lr_4{padding: 0 4rem;}
.padding_l{padding-left: 1rem;}
.padding_l_05{padding-left: 0.5rem;}
.padding_l_50px{padding-left: 50px;}
.padding_lr{padding: 0 1rem}
.padding_lr_2{padding: 0 2rem}
.padding_r_05{padding-right: 0.5rem;}
.padding_ud_4{padding: 4rem;}
.padding_t_15{padding-top: 1.5rem;}
.padding_tb{padding: 1rem 0;}
.padding_tb_05{padding: 0.5rem 0;}
.position_i{position:inherit}
.position_r{position: relative;}
.position_a{position: absolute}
.margin_b{margin-bottom: 1rem;}
.margin_b_0{margin-bottom: 0;}
.margin_l{margin-left: 1rem;}
.margin_lr{margin: 0 1rem;}
.margin_lr_05{margin: 0 0.5rem;}
.margin_r{margin-right: 1rem;}
.margin_r_0{margin-right: 0;}
.margin_t{margin-top: 1rem;}
.margin_t_2{margin-top: 2rem;}
.margin_tb_05{margin: 0.5rem 0}
.margin_tb{margin: 1rem 0}
.margin_0{margin: 0;}
.margin{margin: 1rem;}
.margin_0auto{margin: 0 auto;}
.min_h_300p{min-height: 300px;}
.overflow_a{overflow: auto;}
.text_a_c{text-align: center;}
.text_a_r{text-align: right;}
.text_d{text-decoration: none;}
.top_25{top: 25%;}
.vertical_a{vertical-align: middle;}
.white{background: white;}
.width_4{width: 4rem;}
.width_30{width: 30%;}
.width_40{width: 40%}
.width_45{width: 45%}
.width_50{width: 50%;}
.width_60{width: 60%}
.width_65{width: 65%;}
.width_80{width: 80%;}
.width_90{width: 90%;}
.width_100{width: 100%;}
.width_80p{width: 80px;}
.width_100p{width: 100px;}
.width_150p{width: 150px;}
.width_200p{width: 200px;}
.width_300p{width: 300px;}
.width_400p{width: 400px;}
.width_max_400{max-width: 400px;}
.width_min_300{min-width: 300px;}
.width_max_150{max-width: 150px;}
.word_b_b_w{word-break: break-word;}


.center_div_a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
