{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load price_tags %}

{% block content %}
<form action="." method='POST' class='needs-validation' novalidate>
    {% csrf_token %}
    <div class='basic margin_t_2' id='column_order'>
        <div class='order_div'>
            <div class="background_w  padding_tb ">
                <div class="width_90 margin_0auto">
                    <p class='font_size_2  font_numbers'>{% trans "Details of the recipient" %}</p>
                    <div class="row g-2">
                        <div class="col-md">
                            <div class='form-floating'>
                                {{ form.first_name }}
                                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                                <div class="invalid-feedback">
                                    <ul>
                                        <li>{% trans "The first name must start with a capital letter" %}</li>
                                        <li>{% trans "Only letters" %}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class='form-floating'>
                                {{ form.last_name }}
                                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                                <div class="invalid-feedback">
                                    <ul>
                                        <li>{% trans "The last name must start with a capital letter" %}</li>
                                        <li>{% trans "Only letters" %}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form.first_name.errors }}
                    {{ form.last_name.errors }}
                    <div class='form-floating'>
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label}}</label>
                        <div class="invalid-feedback">
                            <ul>
                                <li>{% trans "Please enter a valid email" %}</li>
                            </ul>
                        </div>
                    </div>
                    {{ form.email.errors }}
                    <div class="row g-2">
                        <div class="col-md">
                            <div class='form-floating '>
                                {{ form.street }}
                                <label for="{{ form.street.id_for_label }}">{{ form.street.label }}</label>
                                <div class="invalid-feedback">
                                    <ul>
                                        <li>{% trans "The first name must start with a capital letter" %}</li>
                                        <li>{% trans "Only letters" %}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class=' form-floating '>
                                {{ form.street_number }}
                                <label for="{{ form.street_number.id_for_label }}">{{ form.street_number.label }}</label>
                                <div class="invalid-feedback">
                                    <ul>
                                        <li>{% trans "Please enter a valid street number" %}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form.street.errors }}
                    {{ form.street_number.errors }}
                    <div class="row g-2">
                        <div class="col-md">
                            {{ form.town.errors }}
                            <div class=' form-floating '>
                                {{ form.town }}
                                <label for="{{ form.town.id_for_label }}">{{ form.town.label }}</label>
                                <div class="invalid-feedback">
                                    <ul>
                                        <li>{% trans "The first name must start with a capital letter" %}</li>
                                        <li>{% trans "Only letters" %}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class='form-floating '>
                                {{ form.ZIP_code }}
                                <label for="{{ form.zip_code.id_for_label }}">{{ form.ZIP_code.label }}</label>
                                <div class="invalid-feedback">
                                    <ul>
                                        <li>{% trans "Only numbers" %}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form.town.errors }}                
                    {{ form.ZIP_code.errors }}
                    <div class="form-floating display_f justify_c_s_b">
                        {{ form.phone_number }}
                        <label for="id_phone_number_1">{{ form.phone_number.label }}</label>
                    </div>
                    {{ form.phone_number.errors }}
                    <div class='form-floating'>
                        {{ form.country }}
                        <label for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
                        <div class="invalid-feedback">
                            <ul>
                                <li>{% trans "The country must start with a capital letter" %}</li>
                                <li>{% trans "Only letters" %}</li>
                            </ul>
                        </div>
                    </div>
                    {{ form.country.errors }}

                </div>
            </div>
            <div class='background_w  margin_t_2 padding'>
                <div class='width_90 margin_0auto'>
                    <p class='font_size_2 font_numbers'>{% trans "Delivery offer" %}</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="delivery" id="parcer_locker">
                        <label class="form-check-label" for="parcer_locker">
                            {% trans "Parcel locker" %}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="delivery" id="courier" checked>
                        <label class="form-check-label" for="courier">
                            {% trans "Courier" %}
                        </label>
                    </div>
                    <div class='height_400p' id='map_parcel_locker'></div>
                </div>
            </div>
            <div class='background_w  margin_t_2 padding'>
                <div class='width_90'>
                    <p class='font_size_2 font_numbers'>{% trans "Payment" %}</p>
                </div>
            </div>
        </div>

        <div class='order_div'>
            <div class="background_w padding_tb">
                <div class="width_90 margin_0auto">
                    {% for item in cart %}
                        <div class='display_f justify_c_s_b align_i_c height_80p margin_t'>
                            <div class='display_f'>
                                <div class='width_100p'>
                                    <img src="{{ item.image }}" class='height_80p width_max_100'>
                                </div>
                                <div class='flex_d_c padding_l_05'>
                                    <p>{{ item.name }}</p>
                                    <p class='color_gray font_numbers'>{{ item.quantity }} x {{ item.price }}</p>
                                </div>
                            </div>
                            <div>
                                <p class='font_size_12 font_numbers'>{{ item.total_price}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    
                   
            {% if cart.check_coupon %}
            <div class='width_100 '>
                <div class='display_ib  float_r height_2r'>
                    <span class='font_size_2 font_numbers color_gray'><del>{{ cart.total_value_cart|price_front }}</del></span><span class=' color_gray font_size_15 font_numbers'><del>{{ cart.total_value_cart|price_back }}</del></span>
                </div>
            </div>
            <div class='width_100  display_f justify_c_r'>
                <div class='display_ib height_2r'>
                    <span class='font_size_12 padding_r_05'>{% trans "TO PAY" %}</span><span class='font_size_2 font_numbers'>{{ cart.total_value_cart_after_discount|price_front }}</span><span class='font_size_15 font_numbers' >{{ cart.total_value_cart_after_discount|price_back }}</span>
                    
                </div>
            </div>
        {% else %}
        <div class='display_ib  float_r'>
            <span class='font_size_12 padding_r_05'>{% trans "TO PAY" %}</span><span class='font_size_2 font_numbers'>{{ cart.total_value_cart|price_front }}</span><span class='font_size_15 font_numbers' >{{ cart.total_value_cart|price_back }}</span>
        </div>
        {% endif %}
                    <div class='clear_b'>
                    </div>
                </div>
            </div>
            <div class="background_w padding_tb margin_t_2">
                <div class='width_90 margin_0auto'>
                    <p class='font_size_2 font_numbers'>{% trans "Summary" %}</p>
            
                    <div class='margin_t'>
                        <button type='submit' class='button  padding_tb_05 width_100' ><p class='button_margin '>{% trans "PAY AND POST" %}</p></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script type='text/javascript' src='{% static "assets/js/order.js" %}'></script>
{% endblock content %}

