{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Password has been changed " %}{% endblock %}

{% block content %}
    <div class="login-form">
        <div class='height_1r'></div>
        <div class="text_a_c">
            <h3>{% trans "Reset Password" %}</h3>
        </div>
        <hr>
        <div class="text_a_c margin_l">
            <p>{% trans "We send you email with instructions let you create a new password" %}</p>
        </div>
        <div class="text_a_c margin_l" >
            <p>{% trans "If you haven't the email message make sure on the form of password reset enter address e-mail provided when creating the user account" %}</p>
        </div>
        <div class="text_a_c"></div>

    </div>
{% endblock %}
