{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <div class="login-form">
        <div class="text_a_c">
            <h3>{% trans "Reset password" %}</h3>
        </div>
        <hr>
        <div class='text_a_c'>
            <p>{% trans "The password has been defined. You can" %} <a style='color: darkred' href="{% url 'shop:login' %}">{% trans "login" %}</a> {% trans "in now" %}</p>
        </div>
        
    </div>
{% endblock %}
