{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <div class="login-form">
        <div class="text_a_c">
            <h3>{% trans "Reset password" %}</h3>
        </div>
        <hr>
        {%  if validlink %}
            <div class="text_a_c">
                <p>{% trans "Enter the new password twice" %}</p>
            </div>

            <form action="." method="post" autocomplete="off">
                {% csrf_token %}    
                <div class='display_f justify_c_c margin_tb'>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                            <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                    </div>
                    <div>
                        {{ form.new_password1 }}
                    </div>
                    
                </div>
                <div class='display_f justify_c_c ma'>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                            <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                    </div>
                    <div>
                        {{ form.new_password2 }}
                    </div>
                    
                </div>
                <div class='text_a_c margin_t_4'>
                    <button class='button button_registration margin_l'><p class='button_margin'>{% trans "CHANGE" %}</p></button>
                </div>
                
            </form>
        {% else %}
            <p>{% trans "Link to reset password is incorrect because it has probably been used before. You must again to start the procedure password reset." %}</p>
        {% endif %}
    </div>
    <script type='text/javascript' src="{% static 'assets/js/password_reset_confirm.js' %}"></script>
{% endblock %}
